<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.raytracer.de/rtdsl/RayTracerModel"
			class = "de.raytracer.rtdsl.rayTracerModel.RayTracerModelPackage"
			genModel = "model/generated/RayTracerModel.genmodel" />
	</extension>
</plugin>
